---
import { formatDate } from '~/utils'
interface Props {
  post: Post
}

const { post } = Astro.props
const { translate: t } = Astro.locals
---

<article class="heti">
  <header>
    <h1 class="post-title!">
      <a href={`/posts/${post.slug}/`}>{post.data.title}</a>
    </h1>
    <div class="mt-2 text-3.5">
      <span>{t('posted_at')}</span>
      <time>{formatDate(post.data.pubDate)}</time>
      {
        post.data.categories &&
          post.data.categories.map((category) => (
            <a class="ml-2.5" href={`/categories/${category}`}>
              # {category}
            </a>
          ))
      }
    </div>
  </header>
  <slot />
  {
    // Only show Giscus comments on the actual post page
    Astro.url.pathname === `/posts/${post.slug}/` && (
      <div class="giscus mt-12">
        <script
          src="https://giscus.app/client.js"
          data-repo="tang-hi/tang-hi.github.io"
          data-repo-id="R_kgDOIrHvBQ"
          data-category="General"
          data-category-id="DIC_kwDOIrHvBc4Cqc5n"
          data-mapping="title"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="preferred_color_scheme"
          data-lang="zh-CN"
          data-loading="lazy"
          crossorigin="anonymous"
          async
        >
        </script>
      </div>
    )
  }
</article>
